.paginate__layout {
  margin-top: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paging {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.paging li {
  margin: 0 6px;
  background: rgb(0, 145, 182);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

.paging__link--active {
  background: rgb(11, 25, 29);
}
.active__link {
  text-decoration: underline;
}

.paging__link--disabled {
  background-color: rgb(204, 204, 204);
}
